 <div class="row">
    <div class="col-md-12" ng-show="customers.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-customer/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new Question</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Question&nbsp;</th>
        <th>Option 1&nbsp;</th>
        <th>Option 2&nbsp;</th>
        <th>Option 3&nbsp;</th>
        <th>Option 4&nbsp;</th>
        <th>Answer&nbsp;</th>
        <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in customers">
                <td>{{data.question}}</td>
                <td>{{data.option1}}</td>
                <td>{{data.option2}}</td>
                <td>{{data.option3}}</td>
                <td>{{data.option4}}</td>
                <td>{{data.answer}}</td>
                <td><a href="#/edit-customer/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit Question</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="customers.length == 0">
        <div class="col-md-12">
            <h4>No customers found</h4>
        </div>
    </div>
</div>