<style type="text/css">
  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }
</style>
<div class="view">
    <div class="container">
        <div class="row">
        <nav class= "navbar navbar-default" role= "navigation" >
        <div class= "navbar-header" >
        <a class= "navbar-brand" href= "#/customers"><i class="glyphicon glyphicon-th-large"></i> Questions </a>
        <a ng-show="customer._id" class= "navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Currently Editing Question Number: {{customer._id}}</a>
        </div>
        </nav>
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="col-md-12">

<form role="form" name="myForm" class="form-horizontal">
<div class="row">
<div class= "form-group" ng-class="{error: myForm.name.$invalid}">
    <label class= "col-md-2"> Question </label>
    <div class="col-md-4">
    <input style="width: 700px;height: 50px;" name="question" ng-model="customer.question" type= "text" class= "form-control" placeholder="Question" required/>
    <span ng-show="myForm.question.$dirty && myForm.question.$invalid" class="help-inline">Question Required</span>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"> Option 1 </label>
    <div class="col-md-4">
    <input name="option1" ng-model="customer.option1" type= "text" class= "form-control" placeholder="Option 1" required/>
    <span ng-show="myForm.option1.$dirty && myForm.option1.$invalid " class="help-inline">Option 1 Required</span>
    
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Option 2 </label>
    <div class="col-md-4">
    <input ng-model="customer.option2" type= "text" class= "form-control" placeholder= "Option 2"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Option 3 </label>
    <div class="col-md-4">
    <input ng-model="customer.option3" type= "text" class= "form-control" placeholder= "Option 3"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Option 4 </label>
    <div class="col-md-4">
    <input ng-model="customer.option4" type= "text" class= "form-control" placeholder= "Option 4"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2">Answer</label>
    <div class="col-md-4">
    <input ng-model="customer.answer" type= "text" class= "form-control" placeholder= "Answer"/>
    </div>
</div>
<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/" class="btn">Cancel</a>
        <button ng-click="saveCustomer(customer);" 
                ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">{{buttonText}}</button>
        <button ng-click="deleteCustomer(customer)"
                ng-show="customer._id" class="btn btn-warning">Delete</button>
    </div>
</div>
</div>
</form>
        </div></div>
    </div>
</div>
